<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - SCM</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="~/MyStyles/geral.css" />

    <link rel="stylesheet" href="~/Theme/vendor/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/Theme/vendor/datatables/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/Theme/css/sb-admin.css" />-->

    @RenderSection("lineChart", required: false)
    @RenderSection("canvasjs", required: false)
</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" asp-controller="Inicial" asp-action="Index">Gerenciamento da Cadeia de Suprimentos</a>
    </nav>

    <div id="wrapper">

        <!-- Barra lateral -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Inicial" asp-action="Index">
                    <i class="fas fa-chart-line"></i>
                    <span>Movimentações</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-book-open"></i>
                    <span>Registar</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" asp-controller="Entrada" asp-action="Index">Entrada</a>
                    <a class="dropdown-item" asp-controller="Saida" asp-action="Index">Saída</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Mercadoria" asp-action="Index">
                    <i class="fas fa-fw fa-box-open"></i>
                    <span>Mercadorias</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Relatorio" asp-action="Index">
                    <i class="far fa-file-pdf"></i>
                    <span>Relatórios</span>
                </a>
            </li>
        </ul>

        <div id="content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- container-fluid -->

            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright - SCM &copy; @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- content-wrapper -->

    </div>

    <!-- Bootstrap core JavaScript-->]
    <script src="~/Theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="~/Theme/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Theme/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Theme/js/sb-admin.min.js"></script>
    <script src="~/MyScripts/geral.js"></script>
</body>
</html>
