@model IEnumerable<ExemploSCM.Models.Mercadoria>

<div class="table-responsive">
    @if (Model != null)
    {
        <table class="table table-bordered table-striped tabela-mercadoria" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nº registro</th>
                    <th>Fabricante</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mercadoria in Model)
                {
                    <tr data-child-value="@mercadoria.Descricao">
                        <td>@mercadoria.Nome</td>
                        <td>@mercadoria.Numero_registro</td>
                        <td>@mercadoria.Fabricante</td>
                        <td>@mercadoria.Tipo</td>
                        <td class="details-control text-center">
                            <button class="btn btn-info btn-sm" data-tt="tooltip" data-placement="top"
                                    title="Ver descrição">
                                <i class="fas fa-plus-square"></i>
                            </button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-warning btn-sm mr-1" data-tt="tooltip" data-placement="top"
                               title="Editar" data-target=".modalEditar" href="@Url.Action("Editar", "Mercadoria", new { id = @mercadoria.Id })">
                                <i class="far fa-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-sm mr-1" data-tt="tooltip" data-placement="top"
                               title="Remover" href="@Url.Action("Remover", "Mercadoria", new { id = @mercadoria.Id })">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>